/* ===========COMMON=========== */
* {
margin: 0;
padding: 0;
box-sizing: content-box; 
}

body {
  font-family: Opensans;
}

@font-face {
  font-family: Opensans;
  font-weight: normal;
  src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
  font-style: normal;
}

ul {
	list-style-type: none;
	padding: none;
	margin: none;
}
 
a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

/* ===========HEADER=========== */

.head-container {
background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
background-size: cover;
position: relative;
padding: 30px 0;
}

.head-container::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
}  

.head-container-wrapper {
padding: 0px 15px;
width: 1200px;
margin: auto;
position: relative;
z-index: 2;
}

.logo-menu-flex {
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.menu {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

}

.menu li:first-child {
	margin-left: 0px;
}

.menu li {
  margin-left: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 13px;
  list-style: none;
}



.menu a {
color: white;
}

.menu a:hover {
text-decoration: underline;
}

.header-text {
  text-transform: uppercase;
  width: 680px;
  padding-top: 120px;
  padding-bottom: 145px;
  color: white;
  line-height: 1.6em;
  font-size: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}

/* ===========MAIN-CONTENT=========== */

.main-container {
margin-top: 65px;
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.main {
	width: 780px;
}

.blog-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
 
}

.blog-post:last-child {
margin-bottom: 0px;
}


.blog-post-content {
margin-left: 30px;
}

.blog-post-tags {
display: flex;
}

.blog-post-tag {
	margin-right: 20px;
}

.blog-post-tag a {
color: #b59f5b;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
list-style: none;  
}

.blog-post-tag a:hover {
text-decoration: underline;
}



.blog-post-tag:last-child {
margin-right: 0px;
 
}


.blog-post-header {
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
margin-top: 15px;
}

.blog-post-header a {
color: black;
}

.blog-post-header a:hover {
color: #b59f5b;
}

.blog-post-info {
  display: flex;
  margin-top: 35px;
  font-size: 12px;
}



.blog-post-info-date {
  color: #9b9b9b;
}

a.blog-post-info-author {
  margin-left: 15px;
  font-weight: 700;
  text-decoration: none;
	color: black;
}



.blog-post-text {
  margin-top: 55px;
  font-size: 15px;
  line-height: 22px;
}

.blog-post-text p {
  margin-bottom: 22px;
}

.blog-post-text p:last-child {
  margin-bottom: 0px;
}

/* ===========ASIDE=========== */

.aside {
  width: 270px;
}

.aside-section:not(:first-child) {
	margin-top: 62px;
}
 
.aside-header {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
	margin: 0 0 20px;

}

.aside-post-header a {
color: black;
}

.aside-post-header a:hover {
color: #b59f5b;
}

.aside-header::after {
  content: "";
  display: block; 
  background-color: #e1d9bd;
  width: 50px;
  height: 3px;
  margin: 10px auto 0;
}

.aside-post {
  display: flex;
  padding-left: 1px;
  margin-bottom: 22px;
}

.aside-post:last-of-type {
	margin-bottom: 0px;
}

.aside-post-pic {
	display: block;
}

.aside-post-article {
  margin-left: 18px;
}

.aside-post-date {
  font-size: 12px;
  color: #bfbfbf;
	display: block;
}

.aside-post-header {
  font-size: 14px;
  line-height: 1.28em;
  font-weight: bold;
  text-transform: uppercase;
  
}

.aside-search-box {
  display: flex;
  justify-content: space-between;
  display-wrap: nowrap;
  align-items: center;
margin-top: 60px;
}

.aside-search-label, .aside-mail-label  {
	width: 100%;
}

.aside-search-input {
  box-sizing: border-box;
	height: 48px;
  width: 100%;
	padding: 6px 12px;
  background-color: #f4f7f6;
  border: none;
}


.aside-search-button {
  width: 48px;
  height: 48px;
  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #b59f5b;
  background-size: 18px;
  border: none;
	flex-shrink: 0;
}

.aside-mail-input {
  height: 47px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border-color: #f4f7f6;
  border-left: 19px solid #f4f7f6;
  border-top: 0px;
}

 .screen-reader-hidden {
	width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}



.aside-mail-button {
  background-color: #b59f5b;
  width: 100%;
  height: 47px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
  border: #f4f7f6;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 14px;

}

.aside-tags {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.aside-tag {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid;
  border-color: #eeeeee;
/*   display: inline-block; */
  margin-right: 5px; 
  margin-top: 5px;
  padding: 8px 13px;
}

.aside-tag a {
	color: black;
	
}

.aside-tag:hover {
	border-color: #b59f5b;
	cursor: pointer;
}

.aside-theme-element {
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid;
  border-color: #eeeeee;
  padding: 15px 0;
	list-style: none;
}

.aside-theme-element a {
	color: black; 
}


.aside-theme-element a:hover {
	color: #b59f5b;
	cursor: pointer;
}

.aside-theme-element span {
  color: #b59f5b;
  vertical-align: super;
}

/* ===========FOOTER=========== */

.footer {
	margin-top: 60px;
}

.footer-wrapper {
	margin: auto;
	padding: 0 15px;
	width: 1200px;
}

.footer-social {
	background-color: #f4f7f6;
	padding: 30px 0;
}

.social-icons-list {
	display: flex;
	align-items: center; 
	justify-content: center;
}

.social-icon-list-item:not(:first-child) {
	margin-left: 15px;
}


.footer-icon {
display: block;
background-size: 24px;
background-repeat: no-repeat;
width: 25px;
height: 25px;
content: '';
background-position: center;
}

.footer-twitter {
background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg');

}

.footer-pinterest {
background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg');

}

.footer-facebook {
background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg');
background-size: cover;	
}

.footer-instagram {
   background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg');
}

.footer-tumblr {
background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg');
}

.copyright {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 30px;
}