/* ===========COMMON=========== */
* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	font-family: Opensans;
}

@font-face {
	font-family: OpenSans;
	font-weight: normal;
	src: url("/MQ-Diploma/fonts/OpenSans-Regular.woff");
	font-style: normal;
}

@font-face {
	font-family: OpenSans;
	font-weight: 700;
	src: url("/MQ-Diploma/fonts/OpenSans-Bold.woff");
	font-style: normal;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

/* =======================================BASIC-PC======================================== */
/* ===========HEADER=========== */

.head-container {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/images/banner-bg.jpg?raw=true");
	background-size: cover;
	position: relative;
	padding: 30px 0;
}

.head-container::after {
	content: "";
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	opacity: 0.6;
}

.head-container-wrapper {
	padding: 0px 15px;
	max-width: 1200px;
	margin: auto;
	position: relative;
	z-index: 2;
}

.head-container-wrapper button,
.logo-mobile {
	display: none;
}

.logo-menu-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.menu li:first-child {
	margin-left: 0px;
}

.menu li {
	margin-left: 35px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 0.8125rem;
	list-style: none;
}

.menu a {
	color: white;
}

.menu a:hover {
	text-decoration: underline;
}

.burger {
	display: none;
}

.header-text {
	text-transform: uppercase;
	max-width: 680px;
	padding-top: 120px;
	padding-bottom: 145px;
	color: white;
	line-height: 1.6em;
	font-size: 2.8125rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
}

/* ===========TRENDING-CONTENT=========== */

.trending {
	margin-top: 60px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.trending-header {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25rem;
	margin-bottom: 40px;
}

.trending-header::after {
	content: "";
	display: block;
	background-color: #e1d9bd;
	width: 65px;
	height: 3px;
	margin: 10px auto 0;
}

.trends-flex {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.trand-box {
	max-width: calc(25% - 43px);
	flex-basis: 25%;
	z-index: 2;
	height: 320px;
	position: relative;
	display: flex;
	align-items: end;
	padding: 20px;
}

.trand-box::before {
	content: "";
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	opacity: 0.5;
}

.trand-content {
	border: 3px solid rgb(181, 159, 91, 0.5);
	padding-top: 5%;
	padding-left: 10%;
	padding-bottom: 5%;
	padding-right: 10%;
	/* 	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-top: 10%; */
	z-index: 3;
	position: relative;
}

.trand-1 {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/images/trend1.jpg?raw=true");
	background-size: cover;
}

.trand-2 {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/images/trend2.jpg?raw=true");
	background-size: cover;
}

.trand-3 {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/images/trend3.jpg?raw=true");
	background-size: cover;
}

.trand-4 {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/images/trend4.jpg?raw=true");
	background-size: cover;
}

.trand-tags {
	display: flex;
	flex-wrap: wrap;
}

.trand-tag {
	text-transform: uppercase;
	color: #b59f5b;
	font-weight: bold;
	font-size: 0.875rem;
	margin-right: 10px;
}

.trand-tag:hover {
	text-decoration: underline;
}

.trand-header-container {
	padding-top: 10px;
}

.trand-header {
	text-transform: uppercase;
	color: white;
	/* 	font-size: 1.25rem; */
	font-size: calc(1.163vw + 6.05px);
	line-height: 1.5rem;
	font-weight: bold;
}

/* ===========MAIN-CONTENT=========== */

.main-container {
	margin-top: 65px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 35px;
}

.main {
	max-width: 780px;
	min-width: 210px;
	flex-grow: 1;
	position: relative;
	width: calc(100% - 720px);
}

.popup_darkness {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 1);
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.popup {
	width: 390px;
	position: fixed;
	left: calc(50% - 195px);
	background-color: rgb(255, 255, 255, 1);
	z-index: 10;
	top: 50%;
	transform: translateY(calc(-50%));
}

.popup-content {
	padding: 55px 30px;
	box-sizing: border-box;
}

.popup-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.popup-header::after {
	content: "";
	display: block;
	background-color: #e1d9bd;
	width: 50px;
	height: 3px;
	margin: 10px auto 0;
}

.popup_ask_1,
.popup_ask_2,
.popup_ask_3 {
	margin-top: 25px;
	font-size: 0.8125rem;
}

.popup_how_often {
	width: calc(100% - 20px);
	background-color: #f3f7f6;
	height: 40px;
	color: #858786;
	border: 0px;
	padding-left: 20px;
	margin-top: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/form-arrows.svg?raw=true");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px;
}

.popup-radio {
	/* 	-moz-appearance: none;
	-webkit-appearance: none; */
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

.popup-radio-group:not(:first-of-type) {
	margin-left: 10px;
}

.popup-text {
	font-size: 0.8125rem;
}

.popup-text::before {
	content: "";
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/form-empty-circle.svg?raw=true");
	background-size: 20px;
	width: 25px;
	height: 25px;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.popup-radio:checked ~ .popup-text::before {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/form-circle.svg?raw=true");
}

.popup_textarea {
	width: 100%;
	height: 130px;
	background-color: #f4f7f6;
	border: 0px;
	resize: none;
	margin-top: 10px;
}

._hidden {
	display: none;
}

.blog-post {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}

.blog-post:last-child {
	margin-bottom: 0px;
}

.blog-post-content {
	margin-left: 30px;
	width: 100%;
}

.blog-post-pic,
.blog-post-pic img {
	width: 100%;
}

.blog-post-tags {
	display: flex;
	flex-wrap: wrap;
}

.blog-post-tag {
	margin-right: 20px;
}

.blog-post-tag a {
	color: #b59f5b;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875rem;
	list-style: none;
}

.blog-post-tag a:hover {
	text-decoration: underline;
}

.blog-post-tag:last-child {
	margin-right: 0px;
}

.blog-post-header {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	margin-top: 15px;
}

.blog-post-header a {
	color: black;
}

.blog-post-header a:hover {
	color: #b59f5b;
}

.blog-post-info {
	display: flex;
	margin-top: 35px;
	font-size: 0.75rem;
}

.blog-post-info-date {
	color: #9b9b9b;
}

a.blog-post-info-author {
	margin-left: 15px;
	font-weight: 700;
	text-decoration: none;
	color: black;
}

.blog-post-text {
	margin-top: 55px;
	font-size: 0.9375rem;
	line-height: 1.375rem;
}

.blog-post-text p {
	margin-bottom: 22px;
}

.blog-post-text p:last-child {
	margin-bottom: 0px;
}

/* ===========ASIDE=========== */

.aside {
	width: 270px;
}

.aside-section:not(:first-child) {
	margin-top: 62px;
}

.aside-header {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 0.875rem;
	margin: 0 0 20px;
}

.aside-post-header a {
	color: black;
}

.aside-post-header a:hover {
	color: #b59f5b;
}

.aside-header::after {
	content: "";
	display: block;
	background-color: #e1d9bd;
	width: 50px;
	height: 3px;
	margin: 10px auto 0;
}

.aside-post {
	display: flex;
	padding-left: 1px;
	margin-bottom: 22px;
}

.aside-post:last-of-type {
	margin-bottom: 0px;
}

.aside-post-pic {
	display: block;
}

.aside-post-article {
	margin-left: 18px;
}

.aside-post-date {
	font-size: 0.75rem;
	color: #bfbfbf;
	display: block;
}

.aside-post-header {
	font-size: 0.875rem;
	line-height: 1.28em;
	font-weight: bold;
	text-transform: uppercase;
}

.aside-search-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	margin-top: 60px;
}

.aside-search-label,
.aside-mail-label {
	width: 100%;
}

.aside-search-input {
	box-sizing: border-box;
	height: 48px;
	width: 100%;
	padding: 6px 12px;
	background-color: #f4f7f6;
	border: none;
}

.aside-search-button {
	width: 48px;
	height: 48px;
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/search.svg?raw=true");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #b59f5b;
	background-size: 18px;
	border: none;
	flex-shrink: 0;
}

.aside-mail-input {
	height: 47px;
	width: 100%;
	box-sizing: border-box;
	background-color: #f4f7f6;
	border-color: #f4f7f6;
	border-left: 19px solid #f4f7f6;
	border-top: 0px;
}

.screen-reader-hidden {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	clip-path: inset(50%);
	margin: -1px;
	overflow: hidden;
	padding: 0;
}

.aside-mail-button,
.popup-mail-button {
	background-color: #b59f5b;
	width: 100%;
	height: 47px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 18px 18px;
	border: #f4f7f6;
	margin-top: 15px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 0.875rem;
}

.aside-tags {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.aside-tag {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 3px solid;
	border-color: #eeeeee;
	margin-right: 5px;
	margin-top: 5px;
	padding: 8px 13px;
}

.aside-tag a {
	color: black;
}

.aside-tag:hover {
	border-color: #b59f5b;
	cursor: pointer;
}

.aside-theme-element {
	font-weight: bold;
	font-size: 0.75rem;
	border-bottom: 1px solid;
	border-color: #eeeeee;
	padding: 15px 0;
	list-style: none;
}

.aside-theme-element a {
	color: black;
}

.aside-theme-element a:hover {
	color: #b59f5b;
	cursor: pointer;
}

.aside-theme-element span {
	color: #b59f5b;
	vertical-align: super;
}

/* ===========GOODS=========== */
.goods {
	margin-top: 60px;
	width: calc(100% - 90px);
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.goods-header {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25rem;
	margin-bottom: 40px;
}

.goods-header::after {
	content: "";
	display: block;
	background-color: #e1d9bd;
	width: 65px;
	height: 3px;
	margin: 10px auto 0;
}

.good-header {
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: bold;
}

.good-pic {
	width: 300px;
	position: relative;
	z-index: -1;
}

.good-content {
	padding-top: 25px;
	outline: 3px solid #b59f5b;
	outline-offset: 20px;
	flex-grow: 1;
	/* 	padding-left: 22px;
	padding-right: 24px;
	padding-bottom: 28px; 	
	margin-left: -25px;
	margin-right: -25px;
	margin-top: -35px; */
}

.good-description {
	font-size: 0.9375rem;
	line-height: 1.375rem;
	margin-top: 8px;
}

.good-description-link {
	color: #b59f5b;
}

.good-description-link:hover {
	text-decoration: underline;
}

.goods-flex {
	display: flex;
	justify-content: space-around;
	position: relative;
	flex-wrap: wrap;
	gap: 70px;
}

.goods-box {
	flex-basis: calc(33.333% - 75px);
	z-index: 2;
	position: relative;
	display: flex;
	flex-direction: column;
}

.good-flex-price-button {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-top: 25px;
	align-items: center;
	height: 50px;
}

.good-old-price {
	font-weight: bold;
	text-decoration: line-through;
	font-size: 0.875rem;
}

.good-price {
	font-weight: bold;
	font-size: 1.25rem;
}

.good-button {
	background-color: #b59f5b;
	color: white;
	text-transform: uppercase;
	width: 140px;
	height: 50px;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
	border: 0px;
}

/* ===========FOOTER=========== */

.footer {
	margin-top: 110px;
}

.footer-wrapper {
	margin: auto;
	padding: 0 15px;
	max-width: 1200px;
}

.footer-social {
	background-color: #f4f7f6;
	padding: 30px 0;
}

.social-icons-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon-list-item:not(:first-child) {
	margin-left: 15px;
}

.footer-icon {
	display: block;
	background-size: 24px;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	content: "";
	background-position: center;
}

.footer-twitter {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/004-twitter.svg?raw=true");
}

.footer-pinterest {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/001-pinterest.svg?raw=true");
}

.footer-facebook {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/002-facebook-logo.svg?raw=true");
	background-size: cover;
}

.footer-instagram {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/005-instagram.svg?raw=true");
}

.footer-tumblr {
	background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/svg/003-tumblr.svg?raw=true");
}

.copyright {
	color: #999999;
	font-size: 0.75rem;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-top: 30px;
}

/* ===================================TABLET 361-768 px CUSTOMIZED============================= */

@media (min-width: 361px) and (max-width: 768px) {
	.menu {
		display: none;
	}

	.head-container-wrapper {
		padding-left: 35px;
		padding-right: 35px;
	}

	.head-container-wrapper button {
		display: block;
	}

	.menu-button {
		width: 25px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		border: 0px;
		margin-left: auto;
		padding-right: 15px;
	}

	.burger {
		width: 100%;
		height: 4px;
		background: white;
		position: relative;
		display: block;
	}

	.burger:before {
		width: 100%;
		height: 4px;
		background: white;
		position: absolute;
		content: "";
		top: -10px;
		left: 0;
	}

	.burger:after {
		width: 100%;
		height: 4px;
		background: white;
		position: absolute;
		content: "";
		bottom: -10px;
		left: 0;
	}

	.head-container {
		background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/images/banner-bg-tablet.jpg?raw=true");
	}

	.header-text {
		font-size: 2.25rem;
		padding-top: 100px;
	}

	.main-container {
		padding-left: 35px;
		padding-right: 35px;
		flex-wrap: wrap;
	}

	.trends-flex {
		flex-wrap: wrap;
	}

	.trand-box {
		max-width: calc(50% - 42px);
		flex-basis: calc(50% - 42px);
		margin-top: 4px;
		height: 245px;
		padding: 20px;
	}

	.trand-header {
		font-size: calc(1vw + 9.4px);
		line-height: 1.25rem;
	}

	.main {
		padding-right: auto;
		flex: 1 1 auto;
	}

	.main-container {
		max-width: 100%;
		flex-wrap: wrap;
	}

	.blog-post-content {
		margin-left: 0px;
		padding-top: 10px;
	}

	.blog-post-pic,
	.blog-post-pic img {
		width: 100%;
	}

	.blog-post {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	.blog-post::after {
		content: "";
		display: block;
		background-color: #eeeeee;
		width: 100%;
		height: 4px;
		margin: 15px auto 0;
	}

	.blog-post-header {
		margin-top: 10px;
		font-size: 1rem;
	}

	.blog-post-info {
		margin-top: 20px;
	}

	.blog-post-text {
		margin-top: 20px;
		font-size: 0.875rem;
	}

	.aside {
		/* 		min-width: 270px;
		width: auto;
		max-width: 100%; */
		flex: 1 1 0;
	}

	.goods {
		max-width: 768px;
		width: calc(100% - 70px);
	}

	.goods-flex {
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: space-around;
		gap: 45px;
	}

	.goods-box {
		height: auto;
		flex-basis: calc(50% - 100px);
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}

	.good-pic {
		width: 293px;
		position: relative;
		z-index: -1;
	}

	.good-content {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

/* ===================================MOBILE 360px CUSTOMIZED============================= */
@media (max-width: 360px) {
	.menu {
		display: none;
	}

	.head-container-wrapper button {
		display: block;
	}

	.menu-button {
		width: 25px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		border: 0px;
		margin-left: auto;
		padding-right: 15px;
	}

	.burger {
		width: 100%;
		height: 4px;
		background: white;
		position: relative;
		display: block;
	}

	.burger:before {
		width: 100%;
		height: 4px;
		background: white;
		position: absolute;
		content: "";
		top: -10px;
		left: 0;
	}

	.burger:after {
		width: 100%;
		height: 4px;
		background: white;
		position: absolute;
		content: "";
		bottom: -10px;
		left: 0;
	}

	.head-container {
		background-image: url("https://github.com/ShlackBaum/MQ-Diploma/blob/main/images/banner-mobile.jpg?raw=true");
	}

	.logo {
		display: none;
	}

	.logo-mobile {
		text-align: center;
		display: block;
		padding-top: 185px;
	}

	.header-text {
		font-size: 1.625rem;
		padding-top: 40px;
	}

	.trends-flex {
		flex-wrap: wrap;
	}

	.trand-box {
		max-width: 100%;
		flex-basis: 100%;
		margin-top: 3px;
		height: 230px;
	}

	.trand-header {
		font-size: 1rem;
		line-height: 1.25rem;
	}

	.trand-content {
		padding-top: 33px;
		padding-left: 20px;
		padding-bottom: 33px;
		padding-right: 20px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	.main {
		max-width: 100%;
		padding-right: 0px;
	}

	.main-container {
		max-width: 100%;
		flex-wrap: wrap;
	}

	.blog-post-content {
		margin-left: 0px;
		padding-top: 10px;
	}

	.blog-post-pic,
	.blog-post-pic img {
		width: 100%;
	}

	.blog-post {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	.blog-post::after {
		content: "";
		display: block;
		background-color: #eeeeee;
		width: 100%;
		height: 4px;
		margin: 15px auto 0;
	}

	.blog-post-header {
		margin-top: 10px;
		font-size: 1rem;
	}

	.blog-post-info {
		margin-top: 10px;
	}

	.blog-post-text {
		margin-top: 10px;
		font-size: 0.875rem;
	}

	.aside {
		width: 100%;
		margin-top: 30px;
		max-width: 100%;
	}

	.aside-tag {
		padding: 4px 10px;
	}

	button {
		padding-right: 0px;
	}

	.goods {
		max-width: 360px;
		width: calc(100% - 60px);
	}

	.goods-flex {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.goods-box {
		width: 100%;
		margin: auto;
		margin-top: 20px;
	}

	.good-pic {
		width: 284px;
		position: relative;
		z-index: -1;
	}

	.footer {
		margin-top: 50px;
	}

	.popup {
		width: 325px;
		left: calc(50% - 162px);
	}
}

@media (max-width: 360px) and (orientation: landscape) {
	.trends-flex {
		flex-wrap: wrap;
	}

	.trand-box {
		max-width: calc(50% - 3px);
		flex-basis: 50%;
	}
}
